<%= simple_form_for automated_ticket, 
                    url: automated_ticket_setup_path(automated_ticket.id, step),
                    html: {
                      class: "grow sidebar--bottom",
                      data: { 
                              controller: "form clickable-svg", 
                              action: "form#toggleSubmitButtonLoading form#addAssociatedHiddenInputsToData" ,
                              'form-loading-url-param': loading_shared_views_path(params: {title: t("views.setup.loading.title"), text: t("views.setup.loading.subtitle")}),
                              'clickable-svg-multiselect-param': local_assigns[:clickable_svg_multiselect] || false
                        }
                    } do |f| %>
  <div class="sidebar--bottom__content">
    <section class="header">
    <span class="cluster cluster--no-wrap">
      <%= render 'automated_tickets/setup/shared/previous_step', previous_step_path: @previous_step_path if @previous_step_path %>
      <h2><%= header_content %></h2>
    </span>
    </section>                    
    <section class="content">
      <div class="visually-hidden">
        <% AutomatedTicket.setup_steps[step.name].each do |field| %>
          <%= empty_inputs_for(f, automated_ticket.class, field) %>                  
        <% end %>
      </div>
      <div class="sandwich__content__scrollable stack">
        <%= yield(f) %>
      </div>
    </section>
  </div>
  <section class="sidebar--bottom__fixed stack margin__bottom--l">
      <div class="visually-hidden" data-form-target='hiddenInputsGroup'>
      </div>
      <% if local_assigns[:disabled] %>
        <div class="btn btn--light center">
          <p><%= t("views.setup.#{step}.cta") %></p>
        </div>
        <% else %>
        <%= button_tag(type: 'submit', class: "btn btn--primary", data: {'form-target': 'inputButton'}) do %>
          <p><%= t("views.setup.#{step}.cta") %></p>
        <% end %>
        <div class="btn btn--light grow visually-hidden" data-form-target='loader'>
            <%= render 'components/loader' %>
        </div>
      <% end %>
  </section>
<% end %>  