<%= simple_form_for service, html: {
                            class: "form form--column grow",
                            data: { turbo: false, controller: "form"}
                          } do |f| %>

    <div class="form__group">
        <div class="form__group">
            <% if service.errors.any? %>
                <div class="error-message">
                <%= service.errors.full_messages.to_sentence.capitalize %>
                </div>
            <% end %>
        </div>

        <div class="stack">
            <div class="form_group stack">
                <h3><%= t('views.services.new.service_radio') %></h3>
                <%= f.input :kind, as: :radio_tiles_with_icon, collection: kinds(disabled: [:easy_park]), wrapper: false %>
            </div>
            <div class="form_group stack">
                <h3><%= t('views.services.new.service_username') %></h3>
                <%= f.input :username, as: :string, include_hidden: false %>
            </div>
            <div class="form_group stack">
                <h3><%= t('views.services.new.service_password') %></h3>
                <%= f.input :password, as: :password, include_hidden: false %>
            </div>
            <div class="form_group stack">
                <h3><%= t('views.services.new.service_name') %></h3>
                <%= f.input :name, as: :string, include_hidden: false%>
                <p><%= t('views.services.new.service_name_hint') %></p>
            </div>
        </div>
    </div>
    <p><%= t('views.services.new.service_disabled') %></p>
    <%= f.submit t('views.services.new.cta'), class: "btn btn--primary" %>
<% end %>