<main class="container">
   <div class="header">
    <h1><%= t('views.automated_tickets.new.header.title') %></h1>
   </div>
    <%= simple_form_for @automated_ticket, 
                          url: @submit_path,
                          method: :put,
                          html: {
                            class: "form form--column",
                            data: { turbo: false, controller: "form wizard" }
                          } do |f| %>

        <% if @automated_ticket.errors.any? %>
          <div class="error-message">
            <%= @automated_ticket.errors.full_messages.to_sentence.capitalize %>
          </div>
        <% end %>
        <div data-wizard-target="loadable">
          <%= yield(f) %>
        </div>
        <%= f.input :id, as: :hidden  %>
        <% if @final_step %>
            <%= f.submit t('views.automated_tickets.new.header.final_step'), class: "btn btn--primary" %>
          <% else %>
            <%= f.submit t('views.automated_tickets.new.header.next'), class: "btn btn--primary", data: {action: 'wizard#toggleLoading'} %>
        <% end %>
    <% end %>
</main>
