<%= render 'automated_tickets/setups/wizard' do |f| %>
            <h3><%= t('views.automated_tickets.new.form.inputs.rate_option') %></h3>
        <%= f.input :rate_option, wrapper_html: {class: 'stack'} do %>
          <% @rate_options.each do |rate_option| %>
            <%= f.label rate_option_dom_id(rate_option) do %>
              <%= f.radio_button "rate_option_client_internal_id", 
                                 rate_option[:client_internal_id], 
                                 id: "automated_ticket_#{rate_option_dom_id(rate_option)}", 
                                 class: 'visually-hidden',
                                 data: {
                                    "form-hidden-input-value-param": rate_option[:accepted_time_units],
                                    action: "change->form#updateHiddenInput"
                                } %>
                                 
              <p class= 'form__input'><%=  rate_option[:name] %> - (<%= t("views.automated_tickets.new.form.inputs.client_time_unit.#{rate_option[:accepted_time_units]}") %>)</p>
            <% end %>
          <% end %>
        <% end %>
        <%= f.input :client_time_unit, as: :hidden, input_html: {data: {"form-target"=>"hiddenInput"}}  %>
<% end %>

