<% if @action.nil? || @action == :get %>
    <%= link_to @path, class: 'text__color--dark' do %>
      <span class="cluster">
        <% if @icon %>
          <%= render SvgComponent.new(name: @icon, color: @color) %>
        <% end %>
        <% if @text || content %>   
          <%= render TextComponent.new(color: @color, text: @text || content) %>
        <% end %>
      </span>
    <% end %>
  <% else %>
    <%= button_to @path, method: @action, class: 'text__color--dark'  do %>
      <span class="cluster">
        <% if @icon %>
          <%= render SvgComponent.new(name: @icon, color: @color) %>
        <% end %>
        <% if @text || content %>   
          <%= render TextComponent.new(color: @color, text: @text || content) %>
        <% end %>
      </span>
    <% end %>
<% end %>