<main class='grow container stack stack--no-gap'>
    <section class="header">
        <h1><%= t('views.onboardings.welcome.header.title') %></h1> 
    </section>
    <div class="grow stack">
        <section class='grow stack stack--l'>
        <% [[1, 'first'], [2, 'second'], [3, 'third']].each do |step| %> 
        <div class='cluster cluster--no-wrap'>
            <span class="number_tag number_tag--light">
                <p><%= step[0] %></p>
            </span>
            <span>
                <h4><%= t("views.onboardings.welcome.main.steps.#{step[1]}.title") %></h4>
                <p><%= t("views.onboardings.welcome.main.steps.#{step[1]}.text") %></p>
            </span>
        </div>
        <% end %>
        </section>
        <section class="footer stack margin__bottom--l">
            <%= link_to t('views.onboardings.welcome.cta'), service_setup_path, class: "btn btn--primary center" %>
         </section>
    </div>
</main>