<main class="grow container stack stack--no-gap">
    <%= render 'automated_tickets/setup/shared/form', automated_ticket: @automated_ticket, step: @step, header_content: t('views.setup.vehicle.header.title') do |f| %>
      <div class="form_group stack stack--xs">
        <%= f.input :license_plate, label: false, wrapper_html: {class: 'stack'} do %>
          <% @vehicles.each do |vehicle| %>
            <%= f.label "license_plate_#{vehicle.license_plate.downcase}", class: 'form__input__type__picker__type' do %>
              <%= f.radio_button "license_plate", 
                                 vehicle.license_plate, 
                                 class: 'visually-hidden', 
                                 checked: (@vehicles.length == 1), 
                                 data: {
                                    'form-target': 'inputWithAssociatedHiddenInput',
                                    "form-associated-hidden-inputs": {
                                      'automated_ticket[vehicle_type]' => vehicle.vehicle_type,
                                    }.to_json,
                                } %>
                                
              <span class= 'clickable'>
                <h4><%=  vehicle.vehicle_description || vehicle.license_plate %></h4>
                <% if vehicle.vehicle_description %>
                  <p><%= vehicle.license_plate %></p>
                <% end %>
              </span>
            <% end %>
          <% end %>
          <%= render 'components/infocard', color: 'muted', class: 'stack__only' do %>
            <p>Aucun véhicule éligible pour ce type de ticket</p>
          <% end %>
        <% end %>
      </div>
    <% end %>
</main>

                