

<main class="grow container stack stack--no-gap">
    <section class="header">
      <span class="cluster cluster--no-wrap">
        <% if @localisation == 'paris' %>
          <h2><%= t("views.setup.zipcodes.header.title.#{@automated_ticket.vehicle_type}") %></h2>
        <% end %>
        <% if @localisation == 'other' %>
          <h2><%= t("views.setup.zipcodes.header.title.neutral") %></h2>
        <% end %>
        <%= render 'automated_tickets/setup/shared/previous_step', previous_step_path: @previous_step_path if @previous_step_path %>
      </span>
    </section>
    <%= render 'automated_tickets/setup/shared/form', automated_ticket: @automated_ticket, step: @step do |f| %>
      <% if @localisation == 'paris' %>
        <%= render 'automated_tickets/setup/zipcodes/paris', zipcodes: @automated_ticket.zipcodes || [], form: f, multiple: @automated_ticket.allow_multiple_zipcodes? %>
      <% end %>
      <% if @localisation == 'other' %>
        <%= render 'automated_tickets/setup/zipcodes/other', form: f %>
      <% end %>
    <% end %>
</main>