<span class='stack'>   
  <%= render 'components/infocard', color: 'muted' do %>
    <div class="stack stack--no-gap">
        <span class="cluster">
            <% if automated_ticket.vehicle_description %>
                <b><%= automated_ticket.vehicle_description %></b>
                <p><%= automated_ticket.license_plate %></p>
                <% else %>
                <b><%= automated_ticket.license_plate %></b>
            <% end %>
        </span>
        <p class="text__color--primary">
            <%= t 'partials.automated_ticket.ticket_count', count: automated_ticket.zipcodes.length %>
        </p>
    </div>
  <% end %>
  <% automated_ticket.zipcodes.sort.each do |zipcode| %>
     <div class="cluster cluster__justify-content--between">
            <span class='cluster'>
                    <div class="center">
                        <%= inline_svg 'ticket.svg'%>
                    </div>
                    <p><%= zipcode %></p>
            </span>
              <% if !!automated_ticket.running_tickets_in_database.find{|t| t.zipcode == zipcode} %>
                  <span class="cluster text__color--success" >
                    <%= t 'partials.automated_ticket.covered' %>
                    <%= inline_svg 'shield.svg' %>
                  </span>
                <% else %>
                  <span class="cluster text__color--danger" >
                    <%= t 'partials.automated_ticket.not_covered' %>
                    <%= inline_svg 'cross.svg' %>
                  </span>
              <% end %>
              
     </div>
     <div class="divider divider--muted"></div>
  <% end %>
  <% if automated_ticket.allow_multiple_zipcodes? %>
    <%= link_to edit_automated_ticket_setup_path(automated_ticket_id: automated_ticket.id, step_name: :zipcodes, params: {localisation: automated_ticket.localisation}) do %>
      <div class="cluster">
          <div class="center"><%= inline_svg 'round_plus.svg'%></div>
          <p><%= t 'partials.automated_ticket.modify_zipcodes' %></p>
      </div>
    <% end %>
  <% end %>
</span>