<span class='stack'>   
  <%= render 'components/infocard', color: 'muted' do %>
    <div class="stack stack--no-gap">
        <span class="cluster">
            <% if automated_ticket.vehicle_description %>
                <b><%= automated_ticket.vehicle_description %></b>
                <p><%= automated_ticket.license_plate %></p>
                <% else %>
                <b><%= automated_ticket.license_plate %></b>
            <% end %>
        </span>
        <p class="text__color--primary">
            <%= t 'partials.automated_ticket.ticket_count', count: automated_ticket.zipcodes.length %>
        </p>
    </div>
  <% end %>
  <% automated_ticket.zipcodes.each do |zipcode| %>
     <span class='cluster'>
            <div class="center">
                <%= inline_svg 'ticket.svg'%>
            </div>
            <p><%= zipcode %></p>
     </span>
     <div class="divider divider--muted"></div>
  <% end %>
</span>