<main class="container stack">
   <header class="header">
    <h1>
        <%= t(
            'views.automated_tickets.show.header.title', 
            license_plate: @automated_ticket.license_plate, 
            zipcode: @automated_ticket.zipcode
        ) %>
    </h1>
   </header>
    <section class="stack">
        <div class="stack">
            <% if @automated_ticket.coverage == 'uncovered' %>                
                    <%= render 'coverage', icon: 'cross.svg', coverage: @automated_ticket.coverage,  details: t('views.automated_tickets.show.coverage.uncovered.details'), color: 'danger' %>
                <% elsif @automated_ticket.coverage == 'covered' %>
                    <%= render 'coverage', 
                            icon: 'check.svg', 
                            coverage: @automated_ticket.coverage,  
                            details: t(
                                'views.automated_tickets.show.coverage.covered.details', 
                                starts_on: l(@automated_ticket.running_ticket.starts_on), 
                                ends_on: l(@automated_ticket.running_ticket.ends_on)),
                                color: 'success'
                    %>
                <% else %>
                    <%= render 'coverage', icon: 'check.svg', coverage: @automated_ticket.coverage,  details: t("views.automated_tickets.show.coverage.#{@automated_ticket.coverage}.details"), color: 'success' %>
            <% end %>            
        </div>
    </section>
    <section>
        <h2 class="header">Last tickets taken automatically :</h2>
        <%= render 'components/table', 
        data: table_data(collection: @last_tickets, fields: [:starts_on, :ends_on, :cost, :client_internal_id]) 
        %>
    </section>
    <%= button_to automated_ticket_path(@automated_ticket), method: :delete, class: 'btn btn--danger' do %>
        <%= t 'views.automated_tickets.show.delete.cta.title' %>
    <% end %>
</main>