
<div class="container stack">
    <%= render 'devise/shared/branded_header' %>
    <section class="stack stack--l">
      <h2 class='text__align--center'><%= t('devise.sessions.title')%></h2>
      <%= simple_form_for resource, 
                          as: resource_name, 
                          url: session_path(resource_name),
                          method: :post,
                          html: {
                            class: "quote form form--column stack stack--l",
                            data: { turbo: false }
                          } do |f| %>

        <% if resource.errors.any? %>
          <div class="error-message">
            <%= resource.errors.full_messages.to_sentence.capitalize %>
          </div>
        <% end %>

        <div class="form_group stack stack--s">
            <p ><%= t('devise.sessions.inputs.username.label') %></p >
            <%= f.input :email, placeholder: t('devise.sessions.inputs.username.placeholder'), input_html: { autofocus: true } %>
        </div>
       <div class="form_group stack stack--s">
            <p ><%= t('devise.sessions.inputs.password.label') %></p >
             <%= f.input :password, placeholder: t('devise.sessions.inputs.password.placeholder') %>
        </div>
        <%= f.submit  t('devise.sessions.title') , class: "btn btn--primary" %>
      <% end %>
      <div class="text-divider"><%= t('views.application.or') %></div>
      <%= button_to omniauth_authorize_path(resource_name, 'google_oauth2'), 
          method: :post, data: {turbo: :false}, 
          class: 'btn btn--sign-in', 
          form_class: 'form form--column' do %>
          <%= t 'devise.sessions.oauth.google' %>
      <% end %>
      <span>
        <%= t 'devise.sessions.not_registered_yet'%>
        <%= link_to t('devise.sessions.create_an_account'), new_user_registration_path %>
      </span>
    </section>
</div>
  
