
<div class="cover">
    <div class='box'>
      <h2><%= t('devise.sessions.title')%></h2>
      <%= button_to omniauth_authorize_path(resource_name, 'google_oauth2'), method: :post, data: {turbo: :false}, class: 'btn' do %>
        <%= image_tag  "btn_google_signin_1x.png" %>
      <% end %>

      <div class="text-divider"><%= t('devise.sessions.sign_in_with_username_and_password') %></div>

      <%= simple_form_for resource, 
                          as: resource_name, 
                          url: session_path(resource_name),
                          html: {
                            class: "quote form form--column",
                            data: { turbo: false }
                          } do |f| %>

        <% if resource.errors.any? %>
          <div class="error-message">
            <%= resource.errors.full_messages.to_sentence.capitalize %>
          </div>
        <% end %>

        <%= f.input :email, input_html: { autofocus: true } %>
        <%= f.input :password, input_html: { autofocus: true } %>
        <% if devise_mapping.rememberable? %>
          <%= f.input_field :remember_me, inline_label: 'Remember me', as: :boolean %>
        <% end %>
        <%= f.submit "Sign in", class: "btn btn--primary" %>
      <% end %>
    </div>
</div>
  
