
<div class="cover">
    <div class='box stack'>
      <h2 class='text__align--center'><%= t('devise.sessions.title')%></h2>
      <%= button_to omniauth_authorize_path(resource_name, 'google_oauth2'), 
          method: :post, data: {turbo: :false}, 
          class: 'btn btn--sign-in', 
          form_class: 'form form--column' do %>
          <%= t 'devise.sessions.oauth.google' %>
      <% end %>

      <div class="text-divider"><%= t('devise.sessions.sign_in_with_username_and_password') %></div>

      <%= simple_form_for resource, 
                          as: resource_name, 
                          url: session_path(resource_name),
                          method: :post,
                          html: {
                            class: "quote form form--column",
                            data: { turbo: false }
                          } do |f| %>

        <% if resource.errors.any? %>
          <div class="error-message">
            <%= resource.errors.full_messages.to_sentence.capitalize %>
          </div>
        <% end %>

        <%= f.input :email, input_html: { autofocus: true } %>
        <%= f.input :password, input_html: { autofocus: true } %>
        <% if devise_mapping.rememberable? %>
          <%= f.input_field :remember_me, inline_label: 'Remember me', as: :boolean %>
        <% end %>
        <%= f.submit "Sign in", class: "btn btn--primary" %>
      <% end %>
      <span>
        <%= t 'devise.sessions.not_registered_yet'%>
        <%= link_to t('devise.sessions.create_an_account'), new_user_registration_path %>
      </span>
    </div>
</div>
  
