<!DOCTYPE html>
<html>
  <head>
    <title>Pervenche</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'components/flash' %>
    <% if current_user && @with_navbar %>
      <%= render 'components/navbar' %>
    <% end %>
    <%= yield %>  
  </body>
</html>
