<!DOCTYPE html>
<html>
  <head>
    <title>Pervenche</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if ENV['PERVENCHE_GOOGLE_ANALYTICS_ENABLED'] %>
      <!-- Google tag (gtag.js) -->
      <script async src='<%= "https://www.googletagmanager.com/gtag/js?id=#{Rails.application.credentials.dig(:google_analytics, :id)}" %>'></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= Rails.application.credentials.dig(:google_analytics, :id) %>');
      </script>
    <% end %>
    <% if ENV['PERVENCHE_CRISP_ENABLED'] %>
      <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="d90a4aab-2689-484b-b7ac-249ee53f1cb5";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <% end %>
    <script src="https://js.chargebee.com/v2/chargebee.js"></script>
    <meta name="chargebee-site" content="<%= Rails.application.credentials.dig(
                      :chargebee,
                      ENV['PERVENCHE_CHARGEBEE_PRODUCTION_SITE'] ? :production : :sandbox,
                      :site
                    )%>">
  </head>

  <body data-controller='modal'>
    <%= render 'components/flash' %>
    <%= yield %>  
  </body>
</html>
