<!DOCTYPE html>
<html>
  <head>
    <title>Pervenche</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.chargebee.com/v2/chargebee.js"></script>
    <meta name="chargebee-site" content="<%= Rails.application.credentials.dig(
                      :chargebee,
                      ENV['PERVENCHE_CHARGEBEE_ENABLED'] ? :production : :sandbox,
                      :site
                    )%>">
  </head>

  <body>
    <%= render 'components/flash' %>
    <%= yield %>  
  </body>
</html>
